<%= name %>
===
<%= description || '' %>
<%= rootDemo ? `A demo can be found [here](${rootDemo}/${demo}/${name})` : '' %>

## Installation
```sh
$ yarn add <%= name %>
```

<% if(type === 'lib' || !type){ %>
## Usage
In your javascript
```js
import <%= camelName %>} from "<%= name %>";
```
<% } %>

## Running
<% if(start){ %>
- start ```sh yarn  start```
<% } %>
<% if(clean){ %>
- clean ```sh yarn run clean```
<% } %>
<% if(test){ %>
- test ```sh yarn test```
<% } %>
<% if(prepublish){ %>
- build ```sh yarn run prepublish```
<% } %>
