/node_modules
/*/node_modules
/*/*/node_modules
/examples/*/tsconfig.json
test-out
.idea
.vscode
dist
lerna-debug.log
*.log
lib
**/lib
demo
built
/examples/*/app
/create/app/test
/**/storybook-static
examples/*/build
