/node_modules
/*/node_modules
/*/*/node_modules
/**/storybook-static
#cause the tests are all dynamic, and I lerna complains.
/creat{e}/app/test/*
/wiki/tsconfig.json
/examples/*/tsconfig.json
test-out
.idea
dist
lerna-debug.log
*.log
lib
**/lib
demo
app
built
