import * as React from 'react';


export type {{Component}}Props = {
    className?: string,
}

export const {{Component}}: React.FC<{{Component}}Props> = (props) => (
    <div className={props.className}>Hello from {{Component}}</div>
);

