<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title || htmlWebpackPlugin.options.pkg.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="<%= htmlWebpackPlugin.options.elementId%>"></div>

</body>
</html>
